.column {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    flex-grow: 1;
    max-width: 18rem;
}

.column .column-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.column .column-header-left-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.column .column-header-right-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.column .column-title {
    font-size: 0.9rem;
    text-transform: capitalize;
}

.column .column-title .count {
    margin-left: 0.5rem;
    color: #6b6f76;
}

.column .cards-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow-y: auto;
    max-height: 35rem;
    padding-right: 0.25rem;
    padding-top: 0.75rem;
}

@media screen and (max-width:700px) {
    .column {
        width: calc(100vw - 4rem);
    }

    .column .cards-container {
        overflow-y: auto;
        height: 100%;
    }
}